{
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module"
  },
  "plugins": ["react", "prettier"],
  "rules": {
    "prettier/prettier": "error",
    "no-console": "error",
    "no-unused-vars": [
      "error",
      {
        "args": "none",
        "ignoreRestSiblings": true
      }
    ],
    "react/jsx-uses-react": "error",
    "react/jsx-uses-vars": "error",
    "react/jsx-boolean-value": ["error", "never"]
  }
}
